/* sitewide */

html {
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	font-family: Courier, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
body {
    margin: 10px auto;
    width: 90vw;
    background-color: snow;
    padding-top: 0px;
}
.blurb {
	padding-right: 20px;
}
.blurb li {
	list-style: none;
	list-style-position: inside;
	text-align: left;
	margin-left: 40px;
	text-indent: -2em;
	padding-left: 1em;
}
.blurb li:before {
	color: black;
	content: "\261E";
	margin-right: 15px;
}
.container {
	padding-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
}
nav {
	top: 0;
	z-index: 500;
	background-color: snow;
	margin-top: 0px;
	position: fixed;
	width: inherit;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted black;
	margin-bottom: 20px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.onsite-links{
	float: left;
	margin-left: 20px;
}
.onsite-links li{
	float: left;
    margin-right: 20px;
}
.offsite-links {
	text-align: right;
	float: right;
	padding: 0px;
	margin-right: 20px;
}
.offsite-links li {
	margin-left: 20px;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: rosybrown;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
h1 {
	line-height: 0px;
    font-size: 2.5em;
    margin-bottom: 40px;
}
h2 {
	line-height: 0px;
	font-style: italic;
	text-align: left;
	margin-left: 60px;
    margin-bottom: 40px;
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
li {
	font-style: italic;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.black-text {
	color: black;
	font-style: normal;
}
