img {
	display: block;
	margin-left: auto;
	margin-right: auto;
        outline: 2px black solid;
	width: 90%;
}

.narrow {
	width: 60%;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }


body {
	margin: 5px;
	max-height: 100%;
	border:  0px;
	outline: 0px;
}

.splash {
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 150px;
}

h3 {
	font-family: 'MaziusExtraItalic';
	font-size: 80px;
	text-align: center;
	outline: 1px black dashed;
}

h4 {
	font-family: 'MaziusExtraItalic';
	font-size: 48px;
	text-align: right;
	margin: 0px:
}

p { 
	font-family: 'MaziusRegular';
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

span {
	font-family: 'MaziusRegular';
	font-size: 16px;
	text-align: left;
}

a {
	font-family: 'MaziusExtraItalic';
	font-size: 28px;
	text-align: left;
	margin-left: 20px;
}


@font-face {
	font-family: 'MaziusExtraItalic';
	src: url("fonts/MAZIUSREVIEW20.09-Extraitalic.woff2") format("woff2"),
		url("fonts/MAZIUSREVIEW20.09-Extraitalic.woff") format("woff");
}

@font-face {
	font-family: 'MaziusRegular';
	src: url("fonts/MAZIUSREVIEW20.09-Regular.woff2") format("woff2"),
		url("fonts/MAZIUSREVIEW20.09-Regular.woff") format("woff");
}
