img {
	display: block;
	margin-left: auto;
	margin-right: auto;
        outline: 1px white dashed;
	width: 90%;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
        outline: 1px white ridge;
}

#nameplate {
	outline: none;
	width: 100%;
	margin-right:  0px;
}

.narrow {
	width: 60%;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }


body {
	margin: 5px;
	max-height: 100%;
	border:  0px;
	outline: 0px;
	background-color: #222222;
}

.splash, .bio {
	padding-top: 60px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 150px;
}

.bio p {
	width:  60%;
}

h3 {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	outline: 1px white dashed;
	color: white;
}

h4 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 48px;
	text-align: right;
	margin: 0px;
	color: white;
}

p { 
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

span {
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	color: white;
}

a {
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	margin-left: 20px;
	color: white;
}

p, a, span {
	font-size: 16px;
}


.container-layout {
	min-width:  100%;
	min-height: 100%;
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: white;
}

.sidebar-container {
	min-height:  100%;
	width:  20%;
	min-width: 300px;
	background-color:  white;
	display: flex;
	flex-direction: column;

}

#sidebar {
	height:  100%;
	width: 100%;
	margin:  0;
	padding: 0;
	flex-grow: 1;
}


#main {
	flex: 1;
}

.video-embed {
	aspect-ratio: 16/9;
	width:  80%;
}