<div class="short-bio">
	<h1 id="panel-head">Gil Lawson [gewl]</h1>
	<ul id="bio-info">
		<li id="panel-text-1">Artist, game designer, and writer.</li>
		<li id="panel-text-2">Based in New York City.</li>
	</ul>
	<div class="outer">
		<div class="panel-foot">
			<ul>
				<li><a href="/resume/lawson-resume.html">resume</a><span>,</span></li>
				<li><a href="mailto:gilbertwlawson@gmail.com">email</a><span>,</span></li>
				<li><a href="https://github.com/gewl">github</a><span>,</span></li>
				<li><a href="https://gewl.itch.io">itch.io</a></li>
			</ul>
		</div>
	</div>
</div>
