<div class="short-bio">
	<h1 id="panel-head">Gil Lawson [gewl]</h1>
	<ul id="bio-info">
		<li id="panel-text-1">Engineer, technologist, designer, and writer.</li>
		<li id="panel-text-2">b. 1990</li>
		<li id="panel-text-3">Santa Fe, NM => New York, NY</li>
	</ul>
	<div class="outer">
		<div class="panel-foot">
			<ul>
				<li><a href="/resume/lawson-resume.html">resume</a><span>,</span></li>
				<li><a href="mailto:gilbertwlawson@gmail.com">email</a><span>,</span></li>
				<li><a href="https://github.com/gewl">github</a><span>,</span></li>
				<li><a href="https://www.linkedin.com/in/gil-lawson-0252b3b9">linkedin</a></li>
			</ul>
		</div>
	</div>
</div>
