<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/landing.css">
	</head>
	<body>
		<div class="container">
			<div class="blurb">
				<div id="projects">
					{% assign projects = site.projects | sort: 'date' %}
					{% for project in projects reversed %}
					<div onclick="window.location='{{project.link}}';" class="project" id="{{project.tags}}">
						<div class="project-text">{{ project.title }} - {{ project.date | date: '%B %Y' }}</div>
						<div style="background:url({{project.imagepath}}); background-size:100%;" class="layer">
						</div>
						{% for key in project %}
						<div id="{{ key }}" class="hidden">{{ project[key] }}</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div><!-- /.container -->
		{% include sidebar.html %}
		{% include filter_menu.html %}

		<script>
$(document).ready(() => {
	$('.project').hover(
			function() {
				let staticThis = this
					$( this ).children('.layer').stop(true, true).fadeTo(150, .2)
					$( this ).children('.project-text').show()
					$('#panel-head').addClass('black-text').text($( this ).children('#title').text())
					$('#panel-text-1').addClass('black-text').text("Role: " + $( this ).children('#role').text())
					if ($( this ).children('#technologies').text() != "") {
						$('#panel-text-2').addClass('black-text').text("Technologies: " + $( this ).children('#technologies').text())
					} else {
						$('#panel-text-2').hide()
					}
				$('#panel-text-3').addClass('black-text').text("Info: " + $( this ).children('#content').text())
			},
			function() {
				$( this ).children('.layer').stop(true, true).fadeTo(150, 1)	
					$( this ).children('.project-text').hide()
					$('#panel-head').removeClass('black-text').text("Gil Lawson [gewl]")
					$('#panel-text-1').removeClass('black-text').text("Engineer, technologist, designer, and writer.")
					$('#panel-text-2').removeClass('black-text').text("b. 1990")
					$('#panel-text-2').show()
					$('#panel-text-3').removeClass('black-text').text("Santa Fe, NM => New York, NY")
			}
	)

		$('.filter').click(
				function() {
					let staticThis = this;
					let filter = $( this ).text();

					let children = $('#projects').children()

					children.each((idx, child) => {
						let $child = $(child);
						if (!$child.is(":visible") && (filter === "everything" || $child.attr('id').split('-').includes(filter))) {
							$child.stop(true, true)
							$child.fadeIn(200)
						} else if ($child.is(":visible") && !$child.attr('id').split('-').includes(filter)) {
							$child.stop(true, true)
							$child.fadeOut(200)
						}
					})
				}
				)
})
		</script><!-- /.blurb -->
	</body>
</html>
